{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<!-- *********************** -->
<!-- ** FULL WIDTH SLIDER ** -->

<div class="flexFull type2 flexslider loading-slider text-center" id="location">
{#  <ul class="slides">#}
{#    <li>#}
      <img src="{% static 'flavours/bigsmokebbq/images/content/sliderfull-1.jpg' %}" alt=" ">
{#    </li>#}
{#    <li>#}
{#      <img src="./assets/flavours/bigsmokebbq/images/content/sliderfull-1.jpg" alt=" ">#}
{#    </li>#}
{#  </ul>#}
</div>

<div class="bg-2 section" id="story">
  <div class="inner repeated" data-topspace="45" data-image="{% static 'flavours/bigsmokebbq/images/content/background-4.jpg' %}">

    <div class="container">

      <h3 class="hdr4">Read our incredible story!</h3>

      <div class="easyBox flat">
        <div class="row">
          <div class="col-md-6">
            <h4>It all started with a ...</h4>

            <p class="bigger">
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
              egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
            </p>

            <p class="bigger">
              Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus
              faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
            </p>

            <p class="bigger">
              Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
            </p>
          </div>
          <div class="col-md-6">

            <div class="polaroidSlider pull-right">
              <img src="{% static 'images/scotchtape.png' %}" alt=" " class="scotchtape">

              <div class="inner">
                <ul class="bxslider">
                  <li><img src="{% static 'images/story_images/motorbike-touring.jpg' %}" alt=" "></li>
                  <li><img src="{% static 'images/story_images/404notfound.jpeg' %}" alt=" "></li>
                  <li><img src="{% static 'images/story_images/icon.png' %}" alt=" "></li>
                  <li><img src="{% static 'images/story_images/are_you_sure.jpg' %}" alt=" "></li>
                </ul>
              </div>
            </div>
            <!-- / polaroidSlider -->

            <div class="text-center">
              <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=foodtruck.html.themeforest.createit.pl" class="shareit"><i></i>Share it</a>
            </div>

          </div>
        </div>

      </div>
      <!-- / easyBox -->

      <h3 class="hdr2">Do you like our story?</h3>
      <h4 class="hdr3">Please visit our <a href="#">facebook page</a> to know even more!</h4>


    </div>
    <!-- / container -->

  </div>
</div>
<!-- / bg-2 -->
{% endblock %}