{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-2 section">
  <div class="inner"  data-topspace="75">
    <div class="container">

      <h3 class="hdr1">Who is sitting behind the wheel?</h3>

      <div class="blog-list">
        <div class="row">
          <div class="col-md-8 blog-main">
            <div class="inner">
                {% for article in articles_all %}
              <div class="blog-post">
                <h3 class="blog_title"><a href="{% url 'article details' category=article.category pk=article.pk %}">{{ article.title }}</a></h3>
                <div class="blog_thumbnail">
                  <a href="{% url 'article details' category=article.category pk=article.pk %}">
                    <img src="{{ article.photo.url }}" alt=" ">
                    <span class="ribbon_details">
                      <span class="ribbon_details_date">{{ article.publication_date }}</span>
{#                      <span class="ribbon_details_comments">{{ article.c }} <i class="fa fa-comments"></i></span>#}
                    </span>
                  </a>
                </div>
                <div class="meta_box">
                  <span class="meta_date">{{ article.publication_date }}</span>
{#                  <span class="meta_comments"><a href="#"><em>12</em> <span>Comments</span></a></span>#}
                  <span class="meta_author"><a href="{% url 'article details' category=article.category pk=article.pk %}">{{ article.author }}</a></span>
                </div>
                <p class="listed">
                {{ article.description }}
                </p>
                <a href="{% url 'article details' category=article.category pk=article.pk %}" class="btn btn-primary btn-sm btn-blog">read more</a>
              </div>
              <hr class="dashed-separator">
                {% endfor %}

              <div class="text-center">
                {% if articles_all.has_other_pages %}
                    <ul class="pagination">
                        {% if articles_all.has_previous %}
                            <li><a href="?page={{ articles_all.previous_page_number }}"><i class="fa fa-arrow-left"></i>Previous Page</a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="fa fa-arrow-left"></i>Previous Page</a></li>
                        {% endif %}
                    {% for p in articles_all.paginator.page_range %}
                        {% if articles_all.number == p %}
                            <li class="active"><a href="#">{{ p }} <span class="sr-only">(current)</span></a></li>
                        {% elif p > articles_all.number|add:'-3' and p < articles_all.number|add:'3' %}
                            <li class="active"><a href="?page={{ p }}">{{ p }} <span class="sr-only"></span></a></li>
                        {% endif %}
                    {% endfor %}
                        {% if articles_all.has_next %}
                            <li><a href="?page={{ articles_all.next_page_number }}">Next Page<i class="fa fa-arrow-right"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#">Next Page<i class="fa fa-arrow-right"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
              </div>


            </div>
            <!-- / inner -->
          </div>
          <div class="col-md-4 blog-sidebar">
            <div class="widget widget_categories">
              <h3>Blog Categories</h3>
              <ul>
                <li class="active"><a href="{% url 'articles' %}">All</a></li>
                <li><a href="{% url 'categories' category='food' %}">Food</a></li>
                <li><a href="{% url 'categories' category='beverages' %}">Beverages</a></li>
                <li><a href="{% url 'categories' category='experiments' %}">Experiments</a></li>
                <li><a href="{% url 'categories' category='events' %}">Events</a></li>
                <li><a href="{% url 'categories' category='the_rest' %}">The rest</a></li>
              </ul>
            </div>
        </div>
      </div>
      <!-- / blog-list -->

    </div>
  </div>
</div>
<!-- / bg-2 -->
{% endblock %}