{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-2 section">
<div class="inner"  data-topspace="35">
<div class="container">
<div class="blog-list">
<div class="row">
<div class="col-md-8 blog-main">
  <div class="inner">
    <div class="blog-post">
      <h3 class="blog_title">{{ article.title }}</h3>

      <div class="blog_thumbnail">
        <img src="{{ article.photo.url }}" alt=" ">
                    <span class="ribbon_details">
                      <span class="ribbon_details_date">{{ article.publication_date }}</span>
                    </span>
      </div>
      <div class="meta_box">
        <span class="meta_date">{{ article.publication_date }}</span>
        <span class="meta_author"><a href="#">{{ article.author }}</a></span>
      </div>
      <p id="exp">{{ article.description }}</p>

      <div class="space50px"></div>

      <div class="space50px"></div>





    </div>


  </div>
  <!-- / inner -->
        </div>
        <div class="col-md-4 blog-sidebar">
            <div class="widget widget_categories">
              <h3>Blog Categories</h3>
              <ul>
                <li class="active"><a href="{% url 'articles' %}">All</a></li>
                <li><a href="{% url 'categories' category='food' %}">Food</a></li>
                <li><a href="{% url 'categories' category='beverages' %}">Beverages</a></li>
                <li><a href="{% url 'categories' category='experiments' %}">Experiments</a></li>
                <li><a href="{% url 'categories' category='events' %}">Events</a></li>
                <li><a href="{% url 'categories' category='the_rest' %}">The rest</a></li>
              </ul>
        </div>

{#  <div class="widget">#}
{#    <h3>Tab Styles</h3>#}
{##}
{#    <!-- Nav tabs -->#}
{#    <ul class="nav nav-tabs nav-justified">#}
{#      <li class="active"><a href="#tab1" data-toggle="tab">Popular</a></li>#}
{#      <li><a href="#tab2" data-toggle="tab">Latest</a></li>#}
{#      <li><a href="#tab3" data-toggle="tab">Random</a></li>#}
{#    </ul>#}
{##}
{#    <!-- Tab panes -->#}
{#    <div class="tab-content">#}
{#      <div class="tab-pane active fade in" id="tab1">#}
{#        <ul>#}
{#          <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#          <li><a href="#">Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</a></li>#}
{#          <li><a href="#">Vestibulum tortor quam, feugiat vitae, ultricies eget.</a></li>#}
{#          <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#        </ul>#}
{##}
{#      </div>#}
{#      <div class="tab-pane fade" id="tab2">#}
{#        <ul>#}
{#          <li><a href="#">Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</a></li>#}
{#          <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#          <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#          <li><a href="#">Vestibulum tortor quam, feugiat vitae, ultricies eget.</a></li>#}
{#        </ul>#}
{##}
{#      </div>#}
{#      <div class="tab-pane fade" id="tab3">#}
{#        <ul>#}
{#          <li><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></li>#}
{#          <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#          <li><a href="#">Vestibulum tortor quam, feugiat vitae, ultricies eget.</a></li>#}
{#          <li><a href="#">Pellentesque habitant morbi tristique senectus et. Mauris placerat eleifend leo.</a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

{#  <div class="widget">#}
{#    <h3>Twitter Widget</h3>#}
{##}
{#    <div class="tweets">#}
{#      <ul class="tweet_list">#}
{#        <li>#}
{#                        <span class="tweet_text">#}
{#                          <a href="#">@BL</a> Were loaded with nice flavours <a href="#">http://d.g/4XHGZpGZ</a>#}
{#                        </span>#}
{#          <span class="tweet_time"><a href="#">about 2 minutes ago</a></span>#}
{#        </li>#}
{#        <li>#}
{#                        <span class="tweet_text">#}
{#                          <a href="#">@BL</a> Today we will be @ gordonspark <a href="#">http://g.g/3ZFBZpGK</a>#}
{#                        </span>#}
{#          <span class="tweet_time"><a href="#">about 6 hours ago</a></span>#}
{#        </li>#}
{#        <li>#}
{#                        <span class="tweet_text">#}
{#                          <a href="#">@BL.</a> Our Burger got nominated! Best Burger in Town <a href="#">http://g.ho/3HZD7pJK</a>#}
{#                        </span>#}
{#          <span class="tweet_time"><a href="#">about 7 hours ago</a></span>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-twitter"></i> follow us</a>#}
{#  </div>#}

</div>
</div>
</div>
<!-- / blog-list -->

</div>
</div>
</div>
<!-- / bg-2 -->

{% endblock %}