{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-2 section">
<div class="inner"  data-topspace="35">
<div class="container">
<div class="blog-list">
<div class="row">
<div class="col-md-8 blog-main">
  <div class="inner">
    <div class="blog-post">
      <h3 class="blog_title">{{ article.title }}</h3>

      <div class="blog_thumbnail">
        <img src="{{ article.photo.url }}" alt=" ">
                    <span class="ribbon_details">
                      <span class="ribbon_details_date">{{ article.publication_date }}</span>
                    </span>
      </div>
      <div class="meta_box">
        <span class="meta_date">{{ article.publication_date }}</span>
        <span class="meta_author"><a href="#">{{ article.author }}</a></span>
      </div>
      <p id="exp">{{ article.description }}</p>

      <div class="space50px"></div>

      <div class="space50px"></div>

    </div>

  </div>
  <!-- / inner -->
        </div>
        <div class="col-md-4 blog-sidebar">
            <div class="widget widget_categories">
              <h3>Blog Categories</h3>
              <ul>
                <li class="active"><a href="{% url 'articles' %}">All</a></li>
                <li><a href="{% url 'categories' category='food' %}">Food</a></li>
                <li><a href="{% url 'categories' category='beverages' %}">Beverages</a></li>
                <li><a href="{% url 'categories' category='experiments' %}">Experiments</a></li>
                <li><a href="{% url 'categories' category='events' %}">Events</a></li>
                <li><a href="{% url 'categories' category='the_rest' %}">The rest</a></li>
              </ul>
        </div>

</div>
</div>
</div>
<!-- / blog-list -->

</div>
</div>
</div>
<!-- / bg-2 -->

{% endblock %}