{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-2 section">
  <div class="inner"  data-topspace="75">
    <div class="container">

      <h3 class="hdr1">Who is sitting behind the wheel?</h3>

      <div class="blog-list">
        <div class="row">
          <div class="col-md-8 blog-main">
            <div class="inner">
                {% for article in articles_all %}
              <div class="blog-post">
                <h3 class="blog_title"><a href="{% url 'article details' category=article.category pk=article.pk %}">{{ article.title }}</a></h3>
                <div class="blog_thumbnail">
                  <a href="{% url 'article details' category=article.category pk=article.pk %}">
                    <img src="{{ article.photo.url }}" alt=" ">
                    <span class="ribbon_details">
                      <span class="ribbon_details_date">{{ article.publication_date }}</span>
{#                      <span class="ribbon_details_comments">{{ article.c }} <i class="fa fa-comments"></i></span>#}
                    </span>
                  </a>
                </div>
                <div class="meta_box">
                  <span class="meta_date">{{ article.publication_date }}</span>
{#                  <span class="meta_comments"><a href="#"><em>12</em> <span>Comments</span></a></span>#}
                  <span class="meta_author"><a href="{% url 'article details' category=article.category pk=article.pk %}">{{ article.author }}</a></span>
                </div>
                <p class="listed">
                {{ article.description }}
                </p>
                <a href="{% url 'article details' category=article.category pk=article.pk %}" class="btn btn-primary btn-sm btn-blog">read more</a>
              </div>
              <hr class="dashed-separator">
                {% endfor %}
{#              <div class="blog-post">#}
{#                <h3 class="blog_title"><a href="7b_single-blog.html">Shiny happy people!</a></h3>#}
{#                <div class="blog_thumbnail">#}
{#                  <a href="7b_single-blog.html">#}
{#                    <img src="./assets/flavours/bigsmokebbq/images/content/post2.jpg" alt=" ">#}
{#                    <span class="ribbon_details">#}
{#                      <span class="ribbon_details_date">Nov <br>14</span>#}
{#                      <span class="ribbon_details_comments">9 <i class="fa fa-comments"></i></span>#}
{#                    </span>#}
{#                  </a>#}
{#                </div>#}
{#                <div class="meta_box">#}
{#                  <span class="meta_date">November 14, 2013</span>#}
{#                  <span class="meta_comments"><a href="#"><em>9</em> <span>Comments</span></a></span>#}
{#                  <span class="meta_author"><a href="#">by John Doe</a></span>#}
{#                </div>#}
{#                <p>#}
{#                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.#}
{#                </p>#}
{#                <a href="7b_single-blog.html" class="btn btn-primary btn-sm btn-blog">read more</a>#}
{#              </div>#}
{#              <hr class="dashed-separator">#}


{#              <div class="blog-post format-quote">#}
{#                <h3 class="blog_title"><a href="7b_single-blog.html">A quote post</a></h3>#}
{#                <div class="blog_thumbnail">#}
{#                  <a href="7b_single-blog.html" class="box_text">#}
{#                    <span class="ribbon_icon"><i class="fa fa-quote-left"></i></span>#}
{#                    <blockquote class="inner">#}
{#                      <p>#}
{#                        This is how a quote post will look like! Subtle and unexcited!#}
{#                      </p>#}
{#                      <span class="author">- Floyd Rose CEO, Burger Lover-</span>#}
{#                    </blockquote>#}
{#                  </a>#}
{#                </div>#}
{#                <div class="meta_box">#}
{#                  <span class="meta_date">November 12, 2013</span>#}
{#                  <span class="meta_comments"><a href="#"><em>21</em> <span>Comments</span></a></span>#}
{#                  <span class="meta_author"><a href="#">by John Doe</a></span>#}
{#                </div>#}
{#              </div>#}
{#              <hr class="dashed-separator">#}


{#              <div class="blog-post format-link">#}
{#                <h3 class="blog_title"><a href="7b_single-blog.html">A link post</a></h3>#}
{#                <div class="blog_thumbnail">#}
{#                  <a href="7b_single-blog.html" class="box_text">#}
{#                    <span class="ribbon_icon"><i class="fa fa-link"></i></span>#}
{#                    <div class="inner">#}
{#                      <p>#}
{#                        This is how a link post will look like! Subtle and unexcited!#}
{#                      </p>#}
{#                    </div>#}
{#                  </a>#}
{#                </div>#}
{#                <div class="meta_box">#}
{#                  <span class="meta_date">November 11, 2013</span>#}
{#                  <span class="meta_comments"><a href="#"><em>5</em> <span>Comments</span></a></span>#}
{#                  <span class="meta_author"><a href="#">by John Doe</a></span>#}
{#                </div>#}
{#              </div>#}
{#              <hr class="dashed-separator">#}

{#              <div class="blog-post format-gallery">#}
{#                <h3 class="blog_title"><a href="7b_single-blog.html">A gallery post</a></h3>#}
{#                <div class="blog_thumbnail">#}
{#                  <a href="7b_single-blog.html">#}
{#                    <div class="flexslider flexSimple">#}
{#                      <ul class="slides">#}
{#                        <li><img src="./assets/flavours/bigsmokebbq/images/content/post2.jpg" alt=" "></li>#}
{#                        <li><img src="./assets/flavours/bigsmokebbq/images/content/post1.jpg" alt=" "></li>#}
{#                      </ul>#}
{#                    </div>#}
{#                    <span class="ribbon_details">#}
{#                      <span class="ribbon_details_date">Nov <br>10</span>#}
{#                      <span class="ribbon_details_comments">12 <i class="fa fa-comments"></i></span>#}
{#                    </span>#}
{#                  </a>#}
{#                </div>#}
{#                <div class="meta_box">#}
{#                  <span class="meta_date">November 10, 2013</span>#}
{#                  <span class="meta_comments"><a href="#"><em>12</em> <span>Comments</span></a></span>#}
{#                  <span class="meta_author"><a href="#">by John Doe</a></span>#}
{#                </div>#}
{#                <p>#}
{#                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.#}
{#                </p>#}
{#                <a href="7b_single-blog.html" class="btn btn-primary btn-sm btn-blog">read more</a>#}
{#              </div>#}
{#              <hr class="dashed-separator">#}


{#              <div class="blog-post">#}
{#                 <h3 class="blog_title"><a href="7b_single-blog.html">We got a new Truck!</a></h3>#}
{#                 <div class="meta_box">#}
{#                   <span class="meta_date">November 8, 2013</span>#}
{#                   <span class="meta_comments"><a href="#"><em>3</em> <span>Comments</span></a></span>#}
{#                   <span class="meta_author"><a href="#">by John Doe</a></span>#}
{#                 </div>#}
{#                 <p>#}
{#                 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.#}
{#                 </p>#}
{#                 <a href="7b_single-blog.html" class="btn btn-primary btn-sm btn-blog">read more</a>#}
{#               </div>#}
{#              <hr class="dashed-separator">#}

              <div class="text-center">
                {% if articles_all.has_other_pages %}
                    <ul class="pagination">
                        {% if articles_all.has_previous %}
                            <li><a href="?page={{ articles_all.previous_page_number }}"><i class="fa fa-arrow-left"></i>Previous Page</a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="fa fa-arrow-left"></i>Previous Page</a></li>
                        {% endif %}
                    {% for p in articles_all.paginator.page_range %}
                        {% if articles_all.number == p %}
                            <li class="active"><a href="#">{{ p }} <span class="sr-only">(current)</span></a></li>
                        {% elif p > articles_all.number|add:'-3' and p < articles_all.number|add:'3' %}
                            <li class="active"><a href="?page={{ p }}">{{ p }} <span class="sr-only"></span></a></li>
                        {% endif %}
                    {% endfor %}
                        {% if articles_all.has_next %}
                            <li><a href="?page={{ articles_all.next_page_number }}">Next Page<i class="fa fa-arrow-right"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#">Next Page<i class="fa fa-arrow-right"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
              </div>


            </div>
            <!-- / inner -->
          </div>
          <div class="col-md-4 blog-sidebar">
            <div class="widget widget_categories">
              <h3>Blog Categories</h3>
              <ul>
                <li class="active"><a href="{% url 'articles' %}">All</a></li>
                <li><a href="{% url 'categories' category='food' %}">Food</a></li>
                <li><a href="{% url 'categories' category='beverages' %}">Beverages</a></li>
                <li><a href="{% url 'categories' category='experiments' %}">Experiments</a></li>
                <li><a href="{% url 'categories' category='events' %}">Events</a></li>
                <li><a href="{% url 'categories' category='the_rest' %}">The rest</a></li>
              </ul>
            </div>

{#            <div class="widget">#}
{#              <h3>Tab Styles</h3>#}
{##}
{#              <!-- Nav tabs -->#}
{#              <ul class="nav nav-tabs nav-justified">#}
{#                <li class="active"><a href="#tab1" data-toggle="tab">Popular</a></li>#}
{#                <li><a href="#tab2" data-toggle="tab">Latest</a></li>#}
{#                <li><a href="#tab3" data-toggle="tab">Random</a></li>#}
{#              </ul>#}

              <!-- Tab panes -->
{#              <div class="tab-content">#}
{#                <div class="tab-pane active fade in" id="tab1">#}
{#                  <ul>#}
{#                    <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#                    <li><a href="#">Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</a></li>#}
{#                    <li><a href="#">Vestibulum tortor quam, feugiat vitae, ultricies eget.</a></li>#}
{#                    <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#                  </ul>#}
{##}
{#                </div>#}
{#                <div class="tab-pane fade" id="tab2">#}
{#                  <ul>#}
{#                    <li><a href="#">Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</a></li>#}
{#                    <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#                    <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#                    <li><a href="#">Vestibulum tortor quam, feugiat vitae, ultricies eget.</a></li>#}
{#                  </ul>#}
{##}
{#                </div>#}
{#                <div class="tab-pane fade" id="tab3">#}
{#                  <ul>#}
{#                    <li><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></li>#}
{#                    <li><a href="#">Pellentesque habitant morbi tristique senectus et.</a></li>#}
{#                    <li><a href="#">Vestibulum tortor quam, feugiat vitae, ultricies eget.</a></li>#}
{#                    <li><a href="#">Pellentesque habitant morbi tristique senectus et. Mauris placerat eleifend leo.</a></li>#}
{#                  </ul>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="widget">#}
{#              <h3>Twitter Widget</h3>#}
{##}
{#              <div class="tweets">#}
{#                <ul class="tweet_list">#}
{#                  <li>#}
{#                        <span class="tweet_text">#}
{#                          <a href="#">@BL</a> Were loaded with nice flavours <a href="#">http://d.g/4XHGZpGZ</a>#}
{#                        </span>#}
{#                    <span class="tweet_time"><a href="#">about 2 minutes ago</a></span>#}
{#                  </li>#}
{#                  <li>#}
{#                        <span class="tweet_text">#}
{#                          <a href="#">@BL</a> Today we will be @ gordonspark <a href="#">http://g.g/3ZFBZpGK</a>#}
{#                        </span>#}
{#                    <span class="tweet_time"><a href="#">about 6 hours ago</a></span>#}
{#                  </li>#}
{#                  <li>#}
{#                        <span class="tweet_text">#}
{#                          <a href="#">@BL.</a> Our Burger got nominated! Best Burger in Town <a href="#">http://g.ho/3HZD7pJK</a>#}
{#                        </span>#}
{#                    <span class="tweet_time"><a href="#">about 7 hours ago</a></span>#}
{#                  </li>#}
{#                </ul>#}
{#              </div>#}
{#              <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-twitter"></i> follow us</a>#}
{#            </div>#}
{##}
{#          </div>#}
        </div>
      </div>
      <!-- / blog-list -->

    </div>
  </div>
</div>
<!-- / bg-2 -->
{% endblock %}