{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<!-- ******************** -->
<!-- ** FULL WIDTH MAP ** -->
<div class="mapWithOverlay" id="location">
  <h4 class="hdr6 curved" data-radius="600" data-direction="1">Wheres the truck?</h4>

  <div class="googleMap" data-location="Junipers Blvd. 380 Queens, NY 11379, USA" data-text="Junipers Blvd. 380 Queens, NY 11379, USA" data-height="400" data-offset="-80"></div>
</div>

<div class="bg-2 section" id="contact">
  <div class="inner" data-topspace="50" data-bottomspace="20" data-image="{% static 'flavours/bigsmokebbq/images/content/background-6.jpg' %}">

    <div class="container">

      <h3 class="hdr4">Drop us a line!</h3>

      <div class="easyBox full">

        <h4 class="hdr5"><span>Did you know? We also provide super duper catering!</span></h4>

        <div class="row nomargin">
          <div class="col-md-5">
            <h4 class="hdr2 special">Email Us</h4>

            <form class="simpleForm" action="{% url 'contacts' %}" method="post">

              <fieldset>
                  {{ contact_form.as_p }}

                  <button onclick="location = self.location.href;" type="submit" class="btn btn-default">Submit</button>

                {% csrf_token %}
              </fieldset>
            </form>
              {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="errorMsg" >
                          {{ message }}
                        </div>
                    {% else %}
                        <div class="successMsg" >
                            {{ message }}
                        </div>
                    {% endif %}
                  {% endfor %}
              {% endif %}

          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-5">
            <h4 class="hdr2 special">Newsletter</h4>

            <p>
              If you want to know where we are going to be and receive interesting things, subscribe for our
                newsletter
            </p>

            <form class="newsletterForm simpleForm" action="{% url 'contacts' %}" method="post">
                {{ newsletter_form.as_p }}
                {% csrf_token %}

                <button onclick="location = self.location.href;" type="submit" class="btn btn-default">Submit</button>

            </form>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="successMsg">
                           {{ message }}
                        </div>
                        {% else %}
                        <div class="errorMsg">
                          {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="space50px"></div>

{#            <p>Stop @ our Homebase and say hello!!!</p>#}

            <div class="googleMap" data-location="Marine Ave. New York, NY" data-text="We are here!"></div>

          </div>
        </div>
      </div>
      <!-- / easyBox -->

    </div>
  </div>
</div>
<!-- bg-1 -->

{% endblock %}