{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<!-- *********************** -->
<!-- ** FULL WIDTH SLIDER ** -->
<!--
<div class="flexFull type2 flexslider loading-slider text-center" id="location">
  <ul class="slides">
    <li>
      <img src="./assets/flavours/bigsmokebbq/images/content/sliderfull-1.jpg" alt=" ">
    </li>
    <li>
      <img src="./assets/flavours/bigsmokebbq/images/content/sliderfull-1.jpg" alt=" ">
    </li>
  </ul>
</div>
-->

<!-- ******************** -->
<!-- ** FULL WIDTH MAP ** -->
<!--
<div class="mapWithOverlay" id="location">
  <h4 class="hdr6 curved" data-radius="600" data-direction="1">Wheres the truck?</h4>

  <div class="googleMap" data-location="Junipers Blvd. 380 Queens, NY 11379, USA" data-text="Junipers Blvd. 380 Queens, NY 11379, USA" data-height="480" data-offset="-80"></div>
</div>
-->

<!-- ***************** -->
<!-- ** THREE BOXES ** -->
<div class="row nomargin threeBoxes" id="location">
  <div class="col-md-4 col-sm-4">

    <div class="googleMap" data-location="Marine Ave. New York, NY" data-text="Big Smoke Ave .1224, <br>New York, NY"></div>

  </div>
  <div class="col-md-4 col-sm-4">
    <div class="full-width-photo" data-image="{% static 'images/motorbike-touring.jpg' %}"></div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="blackboard custom-scrollbar">

      <h3 class="big">Recent Articles</h3>

      <div class="tweets">
          {% for article in articles %}
              <p class="article"><a href="{% url 'article details' category=article.category pk=article.pk %}">{{ article.title }}</a></p>
          {% endfor %}
{#        <div style="display:none">here will be displayed live tweets, configuration is placed in /twitter/config.php</div>#}
      </div>
    </div>
  </div>
</div>

<div class="bg-1 section" id="menu">
  <div class="inner" data-image="{% static 'flavours/bigsmokebbq/images/content/background-1.jpg' %}">
    <div class="container">
      <h3 class="hdr1 type2">Get the best BBQ in your life</h3>
    </div>

    <!-- ******************* -->
     <!-- ** CIRCLE SLIDER ** -->
    <div class="space50px"></div>
     <div class="container">
       <div class="row">
         <div class="col-md-8">
           <div class="flexFade flexslider loading-slider text-right">

               <ul class="slides">
                   {% for food in foods %}
               <li>
                     <div class="descArea">
                       <h4>Choose from<br>{{ food.category }}</h4>
                       <hr>
                       <h5>{{ food.title }}</h5>
                       <p>
                         {{ food.description }}
                       </p>
{#                       <span class="price"><em>$</em>11<span>99</span></span>#}

                 </div>
                 <div class="roundedImg" data-size="320">
                   <img class="media-object" src="{{ food.photo.url }}" alt=" ">
                 </div>
                </li>

                   {% endfor %}
             </ul>

           </div>
         </div>
         <div class="col-md-4">
           <h4 class="hdr7">About Us</h4>

           <div class="roundedImg pull-right" data-size="160">
             <img class="media-object" src="{% static 'images/motorbike-touring.jpg'%}" alt=" ">
           </div>
           <p class="bigger highlighted">
             Hello Foody! We have traveled countless miles, hundreds of sailing through storms to find out where is the best and freshest food in the world.
             <br>
             Ultimately we have brought them to our restaurant to let you enjoy this priceless treasure.<br><br>
             Please consider yourself. Good Appetite!<br>
             Your Chef Team<br>
           </p>

         </div>
       </div>
     </div>
     <div class="space50px"></div>
  </div>
</div>


<div class="bg-2 topOrnament section">
<div class="inner">
<div class="container">

  <div class="text-center">
    <img src="{% static 'flavours/bigsmokebbq/images/content/photo-2.png' %}" alt=" ">
  </div>
  <br>

  <h3 class="hdr4">Our recommendations</h3>

  <div class="row">
       {% for food in foods %}
        {% if food.id == 1 %}
            <div class="col-md-4 col-sm-6">
            <div class="prodBox pull-left">
        <div class="frameImg"><img src="{{ food.photo.url }}" alt=" "></div>

        <div class="inner">
          <h4>{{ food.title }}</h4>

          <p>{{ food.description }}
          </p>
{#          <span class="price"><small>just</small><em>$</em>11<span>99</span></span>#}
{#          <a href="#" class="btn btn-primary btn-sm">order now!</a>#}
            </div>
            </div>
            </div>
      <!-- / prodBox -->

        {% elif food.id == 2 %}
            <div class="col-md-4 col-sm-6">

      <div class="prodBox type2">
        <div class="frameImg"><img src="{{ food.photo.url }}" alt=" "></div>

        <div class="inner">
          <h4>{{ food.title }}</h4>

          <p>
              {{ food.description }}
          </p>
{#          <span class="price"><small>just</small><em>$</em>9<span>99</span></span>#}
{#          <a href="#" class="btn btn-primary btn-sm">order now!</a>#}
        </div>
      </div>

      <!-- / prodBox -->
    </div>
        {% elif food.id == 3 %}
            <div class="clearfix visible-sm"></div>
            <div class="col-md-4 col-sm-12">
              <div class="prodBox type3 pull-right">
                <div class="frameImg"><img src="{{ food.photo.url }}" alt=" "></div>

                <div class="inner">
                  <h4>{{ food.title }}</h4>

                  <p>{{ food.description }}</p>
        {#          <span class="price"><small>just</small><em>$</em>9<span>99</span></span>#}
        {#          <a href="#" class="btn btn-primary btn-sm">order now!</a>#}
                </div>
              </div>
              <!-- / prodBox -->
            </div>
        {% endif %}
      {% endfor %}
  </div>
  </div>
  <!-- / row -->
  <h3 class="hdr2">Whatever you choose</h3>
  <h4 class="hdr3">Be 100% sure, that our Food is entirely made of fresh ingredients</h4>

</div>
</div>
</div>
{% endblock %}
