{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-1 section" id="events">
  <div class="inner" data-topspace="50" data-image="{% static 'flavours/bigsmokebbq/images/content/background-3.jpg' %}">

    <div class="container">

        <h1>404</h1>
        <h2><em>Ooops!</em> Page Not Found</h2>
        <p>The Requested page can not be Found</p>

        <a href="{% url 'index' %}" class="b2home"><i class="fas fa-home"></i> Go Back to Home</a>

    </div>
    <!-- / container -->

  </div>
</div>
<!--  / bg-1 -->

{% endblock %}