{% load static %}
<div class="container">

    <div class="row">
      <div class="col-md-3">

        <h4>Contact</h4>

        <p>
          Veliko Tarnovo, Bulgaria<br><br>
          Varna, Bulgaria<br><br>
          +359 883407297<br><br>
          <a href="mailto:hello@bigsmoke.com">gyosifov88@gmail.com</a>
        </p>
{#        <hr>#}

      </div>
      <div class="col-md-6">
        <img src="{% static 'flavours/bigsmokebbq/images/content/logo-inline.png' %}" alt=" ">

        <div class="googleMap" data-location="Marine Ave. New York, NY" data-text="We are here!"></div>

        <ul class="bigSocials">
          <li class="fb"><a href="#"><img src="{% static 'images/smallsocial-fb.png' %}" alt="Facebook"></a></li>
          <li class="tw"><a href="#"><img src="{% static 'images/social-tw.png' %}" alt="Twitter"></a></li>
          <li class="gg"><a href="#"><img src="{% static 'images/social-gg.png' %}" alt="Google+"></a></li>
          <li class="rss"><a href="#"><img src="{% static 'images/social-rss.png' %}" alt="RSS"></a></li>
        </ul>

        <p class="copyright">© Copyright 2014 <a href="#">TemplateRockers</a></p>


      </div>
      <div class="col-md-3">
        <h4>Latest Articles</h4>

        <div class="tweets">
          {% for article in articles %}
              <p class="article_footer"><a href="{% url 'article details' category=article.category pk=article.pk %}">{{ article.title }}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
  <a href="#" id="toTop"></a>