{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-1 section topOrnament" id="gallery">
  <div class="inner" data-topspace="30">

    <div class="container">

      <h3 class="hdr4">Have a look in our gallery!</h3>
      <ul class="galleryContainer row">

        <li class="col-md-3 col-sm-6">

          <div class="galleryBox">
            <div class="top">
              <span>Street-Life</span>
            </div>
            <div class="inner">
              <a href="{{ street_life_first.photo.url }}" data-rel="prettyPhoto[gallery1]">
                <img src="{{ street_life_first.photo.url }}" alt=" ">
                <div><span>{{ street_life_numbers }} images</span></div>
              </a>
            </div>
              {% for pic in street_life_pictures %}
            <div class="hiddenGallery">
              <a href="{{ pic.photo.url }}" data-rel="prettyPhoto[gallery1]" title="{{ pic.title }}">
                <img src="{{ pic.photo.url }}" alt=" ">
              </a>
            </div>
            {% endfor %}
          </div>
          <!-- / galleryBox -->
        </li>

        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Kitchen-Life</span>
            </div>
            <div class="inner">
              <a href="{{ kitchen_life_first.photo.url }}" data-rel="prettyPhoto[gallery2]">
                <img src="{{ kitchen_life_first.photo.url }}" alt=" ">

                <div><span>{{ kitchen_life_numbers }} images</span></div>
              </a>
            </div>
              {% for pic in kitchen_life_pictures %}
                <div class="hiddenGallery">
                  <a href="{{ pic.photo.url }}" data-rel="prettyPhoto[gallery2]" title="{{ pic.title }}">
                    <img src="{{ pic.photo.url }}" alt=" ">
                  </a>
                </div>
              {% endfor%}
          </div>
          <!-- / galleryBox -->
        </li>
        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Events</span>
            </div>
            <div class="inner">
              <a href="{{ events_first.photo.url }}" data-rel="prettyPhoto[gallery3]">
                <img src="{{ events_first.photo.url }}" alt=" ">

                <div><span>{{ events_numbers }} images</span></div>
              </a>
            </div>
              {% for pic in events_pictures %}
            <div class="hiddenGallery">
              <a href="{{ pic.photo.url }}" data-rel="prettyPhoto[gallery3]" title="{{ pic.title }}">
                <img src="{{ pic.photo.url }}" alt=" ">
              </a>
            </div>
              {% endfor %}
          </div>
          <!-- / galleryBox -->
        </li>
        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Food</span>
            </div>
            <div class="inner">
              <a href="{{ foods_first.photo.url }}" data-rel="prettyPhoto[gallery4]">
                <img src="{{ foods_first.photo.url }}" alt=" ">

                <div><span>{{ foods_numbers }} images</span></div>
              </a>
            </div>
              {% for pic in foods_pictures %}
            <div class="hiddenGallery">
              <a href="{{ pic.photo.url }}" data-rel="prettyPhoto[gallery4]" title="{{ pic.title }}">
                <img src="{{ pic.photo.url }}" alt=" ">
              </a>
            </div>
              {% endfor %}
          </div>
          <!-- / galleryBox -->
        </li>
      </ul>

      <h4 class="hdr3">Follow us on instagram!</h4>


      <br>

      <div class="text-center">
        <a href="#" target="_blank">
          <img src="{% static 'flavours/bigsmokebbq/images/instagram-btn.png' %}" alt="">
        </a>
      </div>
      <br><br>

      <h3 class="hdr2">Took a good shot of our truck?</h3>
      <h4 class="hdr3">We would be very glad if you could send your photos to us!</h4>

    </div>
  </div>
</div>
<!-- / bg-1 -->

{% endblock %}