{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-1 section topOrnament" id="gallery">
  <div class="inner" data-topspace="30">

    <div class="container">

      <h3 class="hdr4">Have a look in our gallery!</h3>

      <ul class="galleryContainer row">
        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Street-Life</span>
            </div>
            <div class="inner">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-1.jpg" data-rel="prettyPhoto[gallery1]">
                <img src="./assets/flavours/bigsmokebbq/images/content/gallery-01.jpg" alt=" ">

                <div><span>3 images</span></div>
              </a>
            </div>
            <div class="hiddenGallery">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" data-rel="prettyPhoto[gallery1]" title="Title goes here">
                <img src="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" alt=" ">
              </a>
              <a href="./assets/flavours/bigsmokebbq/images/content/product-3.jpg" data-rel="prettyPhoto[gallery1]" title="Title goes here">
                <img src="./assets/flavours/bigsmokebbq/images/content/product-3.jpg" alt=" ">
              </a>
            </div>
          </div>
          <!-- / galleryBox -->
        </li>
        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Kitchen-Life</span>
            </div>
            <div class="inner">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-1.jpg" data-rel="prettyPhoto[gallery2]">
                <img src="./assets/flavours/bigsmokebbq/images/content/gallery-02.jpg" alt=" ">

                <div><span>2 images</span></div>
              </a>
            </div>
            <div class="hiddenGallery">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" data-rel="prettyPhoto[gallery2]" title="Title goes here">
                <img src="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" alt=" ">
              </a>
            </div>
          </div>
          <!-- / galleryBox -->
        </li>
        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Events</span>
            </div>
            <div class="inner">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-1.jpg" data-rel="prettyPhoto[gallery3]">
                <img src="./assets/flavours/bigsmokebbq/images/content/gallery-03.jpg" alt=" ">

                <div><span>3 images</span></div>
              </a>
            </div>
            <div class="hiddenGallery">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" data-rel="prettyPhoto[gallery3]" title="Title goes here">
                <img src="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" alt=" ">
              </a>
              <a href="./assets/flavours/bigsmokebbq/images/content/product-3.jpg" data-rel="prettyPhoto[gallery3]" title="Title goes here">
                <img src="./assets/flavours/bigsmokebbq/images/content/product-3.jpg" alt=" ">
              </a>
            </div>
          </div>
          <!-- / galleryBox -->
        </li>
        <li class="col-md-3 col-sm-6">
          <div class="galleryBox">
            <div class="top">
              <span>Food</span>
            </div>
            <div class="inner">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-1.jpg" data-rel="prettyPhoto[gallery4]">
                <img src="./assets/flavours/bigsmokebbq/images/content/gallery-04.jpg" alt=" ">

                <div><span>2 images</span></div>
              </a>
            </div>
            <div class="hiddenGallery">
              <a href="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" data-rel="prettyPhoto[gallery4]" title="Title goes here">
                <img src="./assets/flavours/bigsmokebbq/images/content/product-2.jpg" alt=" ">
              </a>
            </div>
          </div>
          <!-- / galleryBox -->
        </li>
      </ul>


      <h4 class="hdr3">Follow us on instagram!</h4>


      <br>

      <div class="text-center">
        <a href="#" target="_blank">
          <img src="./assets/flavours/bigsmokebbq/images/instagram-btn.png" alt="">
        </a>
      </div>
      <br><br>

      <h3 class="hdr2">Took a good shot of our truck?</h3>
      <h4 class="hdr3">We would be very glad if you could send your photos to us!</h4>

    </div>
  </div>
</div>
<!-- / bg-1 -->

{% endblock %}