{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-1 section">
  <div class="inner" data-image="./assets/flavours/bigsmokebbq/images/content/background-1.jpg">
    <div class="container">
      <h3 class="hdr4">Get the best BBQ in Town</h3>
    </div>
    <!-- ************************* -->
     <!-- ** FULL PRODUCT SLIDER ** -->
     <div class="flexFull flexslider loading-slider text-center">
       <ul class="slides">
         <li>
           <div class="container">
             <img src="./assets/flavours/bigsmokebbq/images/content/sliderphoto-1.png" alt=" ">

             <h3 class="hdr2">Slow grilled pulled pork burger - with homebrewed beer</h3>
             <h4 class="hdr3">
               Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
             </h4>

             <div class="priceHeader">
                     <span class="lft">
                       Slow grilled pulled pork
                     </span>
                     <span class="price">
                       <span class="el_1">just</span>
                       <span class="el_2">$</span>
                       <span class="el_3">12</span>
                       <span class="el_4">99</span>
                     </span>
                     <span class="rt">
                       + special twisted fries
                     </span>
             </div>
           </div>
         </li>
         <li>
           <div class="container">
             <img src="./assets/flavours/bigsmokebbq/images/content/sliderphoto-1.png" alt=" ">

             <h3 class="hdr2">Slow grilled pulled pork burger - with homebrewed beer</h3>
             <h4 class="hdr3">
               Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
             </h4>

             <div class="priceHeader">
                     <span class="lft">
                       Slow grilled pulled pork
                     </span>
                     <span class="price">
                       <span class="el_1">just</span>
                       <span class="el_2">$</span>
                       <span class="el_3">12</span>
                       <span class="el_4">99</span>
                     </span>
                     <span class="rt">
                       + special twisted fries
                     </span>
             </div>
           </div>
         </li>
       </ul>
     </div>
     <!-- / flexslider -->

  </div>
</div>


<div class="bg-2 topOrnament section">
<div class="inner">
<div class="container">
<h3 class="hdr4">Our tasty meals, have a look!</h3>

<div class="row">
<div class="col-md-4 col-sm-6">
  <div class="menuBox">
    <div class="top">
      <img src="./assets/flavours/bigsmokebbq/images/content/icon-1.png" alt=" ">
      <span>Starters</span>
    </div>
    <div class="inner">
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-1.jpg" data-rel="prettyPhoto[menu1]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-1.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Sandwich</span>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <span class="price">
                        <em>$</em>7
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-2.jpg" data-rel="prettyPhoto[menu1]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-2.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Big Sandwich</span>

          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <span class="price">
                        <em>$</em>4<span>99</span>
                      </span>
        </div>
      </div>
      <!-- / item -->
    </div>
  </div>
  <!-- / menuBox -->

  <div class="menuBox type2">
    <div class="top">
      <img src="./assets/flavours/bigsmokebbq/images/content/icon-2.png" alt=" ">
      <span>Desserts</span>
    </div>
    <div class="inner">
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-3.jpg" data-rel="prettyPhoto[menu2]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-3.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Waffle & Ice cream</span>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <span class="price">
                        <em>$</em>7
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-4.jpg" data-rel="prettyPhoto[menu2]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-4.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Vanilla Waffle</span>

          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <span class="price">
                        <em>$</em>4<span>99</span>
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-5.jpg" data-rel="prettyPhoto[menu2]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-5.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Brullee Waffle</span>

          <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                      <span class="price">
                        <em>$</em>6
                      </span>
        </div>
      </div>
      <!-- / item -->
    </div>
  </div>
  <!-- / menuBox -->
</div>
<div class="col-md-4 col-sm-6">
  <div class="menuBox type3">
    <div class="top">
      <img src="./assets/flavours/bigsmokebbq/images/content/icon-3.png" alt=" ">
      <span>BBQ Dish</span>
    </div>
    <div class="inner">
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-6.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-6.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">T-Bone Steak</span>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <span class="price">
                        <em>$</em>7
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-7.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-7.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Rib Eye Steak</span>

          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <span class="price">
                        <em>$</em>4<span>99</span>
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-8.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-8.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Rump Steak</span>

          <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                      <span class="price">
                        <em>$</em>6
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-9.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-9.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Pulled Pork Slider</span>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <span class="price">
                        <em>$</em>7
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-10.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-10.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Portobello Slider</span>

          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <span class="price">
                        <em>$</em>4<span>99</span>
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-11.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-11.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Classic Burger</span>

          <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                      <span class="price">
                        <em>$</em>6
                      </span>
        </div>
      </div>
      <!-- / item -->
      <hr>
      <div class="media">
        <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-12.jpg" data-rel="prettyPhoto[menu3]">
          <div class="roundedImg" data-size="54">
            <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-12.jpg" alt=" ">
          </div>
        </a>

        <div class="media-body">
          <span class="title">Mexican Burger</span>

          <p>Ut enim ad minim veniam, quis nostrud exercitation Ut enim ad minim veniam, quis nostrud exercitation</p>
                      <span class="price">
                        <em>$</em>6
                      </span>
        </div>
      </div>
      <!-- / item -->
    </div>
  </div>
  <!-- / menuBox -->
</div>
<div class="clearfix visible-sm"></div>
<div class="col-md-4 col-sm-12">
  <div class="row">
    <div class="col-md-12 col-sm-6">
      <div class="menuBox type4">
        <div class="top">
          <img src="./assets/flavours/bigsmokebbq/images/content/icon-4.png" alt=" ">
          <span>Sides</span>
        </div>
        <div class="inner">
          <div class="media">
            <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-13.jpg" data-rel="prettyPhoto[menu4]">
              <div class="roundedImg" data-size="54">
                <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-13.jpg" alt=" ">
              </div>
            </a>

            <div class="media-body">
              <span class="title">Twisted fries</span>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <span class="price">
                        <em>$</em>2
                      </span>
            </div>
          </div>
          <!-- / item -->
          <hr>
          <div class="media">
            <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-14.jpg" data-rel="prettyPhoto[menu4]">
              <div class="roundedImg" data-size="54">
                <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-14.jpg" alt=" ">
              </div>
            </a>

            <div class="media-body">
              <span class="title">Garlic Bread</span>

              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <span class="price">
                        <em>$</em>4<span>99</span>
                      </span>
            </div>
          </div>
          <!-- / item -->
          <hr>
          <div class="media">
            <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-15.jpg" data-rel="prettyPhoto[menu4]">
              <div class="roundedImg" data-size="54">
                <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-15.jpg" alt=" ">
              </div>
            </a>

            <div class="media-body">
              <span class="title">Roast Potatoe</span>

              <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                      <span class="price">
                        <em>$</em>2<span>99</span>
                      </span>
            </div>
          </div>
          <!-- / item -->
        </div>
      </div>
      <!-- / menuBox -->
    </div>
    <div class="col-md-12 col-sm-6">

      <div class="menuBox">
        <div class="top">
          <img src="./assets/flavours/bigsmokebbq/images/content/icon-5.png" alt=" ">
          <span>Beverages</span>
        </div>
        <div class="inner">
          <div class="media">
            <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-16.jpg" data-rel="prettyPhoto[menu5]">
              <div class="roundedImg" data-size="54">
                <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-16.jpg" alt=" ">
              </div>
            </a>

            <div class="media-body">
              <span class="title">Coca-Cola</span>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <span class="price">
                        <em>$</em>2
                      </span>
            </div>
          </div>
          <!-- / item -->
          <hr>
          <div class="media">
            <a class="pull-left" href="./assets/flavours/bigsmokebbq/images/content/product-small-17.jpg" data-rel="prettyPhoto[menu5]">
              <div class="roundedImg" data-size="54">
                <img class="media-object" src="./assets/flavours/bigsmokebbq/images/content/product-small-17.jpg" alt=" ">
              </div>
            </a>

            <div class="media-body">
              <span class="title">Beer</span>

              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <span class="price">
                        <em>$</em>2<span>99</span>
                      </span>
            </div>
          </div>
          <!-- / item -->
        </div>
      </div>
      <!-- / menuBox -->
    </div>
  </div>

</div>
</div>

<h3 class="hdr2">Whatever you choose!</h3>
<h4 class="hdr3">Be 100% sure that our food is entirely made of biological ingredients</h4>

</div>
</div>
</div>
<!-- / bg-2 -->
{% endblock %}