{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<div class="bg-1 section" id="events">
  <div class="inner" data-topspace="50" data-image="./assets/flavours/bigsmokebbq/images/content/background-3.jpg">

    <div class="container">

      <h3 class="hdr4">Our upcoming events & festivals</h3>

      <div class="eventBox">
        <span class="date">SEP <span>18</span></span>

        <h4 class="hdr2">@ The BBQ Feast

          <span class="place">Chambers Street 1234, New York, NY</span>
          <span class="time">11:00 am - 1:00 pm</span>
        </h4>
        <hr>

        <div class="clearfix"></div>
        <!-- go to http://amap.to/ and create your own map -->
        <a href="http://aMAP.to/qgmdrzv?iframe=true&amp;width=500&amp;height=350" data-rel="prettyPhoto" class="mapit"><i></i>Map it</a>
        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=foodtruck.html.themeforest.createit.pl" class="shareit"><i></i>Share it</a>

      </div>
      <!-- / eventBox -->

      <div class="eventBox">
        <span class="date">SEP <span>31</span></span>

        <h4 class="hdr2">@ The BBQ Palooza

          <span class="place">Atlantic Avenue 1234, New York, NY</span>
          <span class="time">1:00 pm - 6:00 pm</span>
        </h4>
        <hr>

        <div class="clearfix"></div>
        <!-- go to http://amap.to/ and create your own map -->
        <a href="http://aMAP.to/wptpryc?iframe=true&amp;width=500&amp;height=350" data-rel="prettyPhoto" class="mapit"><i></i>Map it</a>
        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=foodtruck.html.themeforest.createit.pl" class="shareit"><i></i>Share it</a>

      </div>
      <!-- / eventBox -->

      <h3 class="hdr2">Join us at our events</h3>
      <h4 class="hdr3">We would be more than glad, to see you at our events!</h4>

    </div>
    <!-- / container -->

  </div>
</div>
<!--  / bg-1 -->

{% endblock %}